* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #0a0e21;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#title {
    color: white;
    text-align: center;
    padding: 30px 0px 10px 0px;
    width: 100vw;
}
.square {
    width: 40vw;
    height: 30vw;
    background-color: #13172b;
    border: none;
    color: white;
    border-radius: 15px;
    margin: 3vw;
    margin-bottom: 4vw;
    font-size: 1.5rem;
}
#height {
    height: 30vw;
    width: 87vw;
    color: white;
    background-color: #13172b;
    border-radius: 15px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
#calculate {
    background-color: #ce3058;
    border: none;
    color: white;
    height: 15vw;
    width: 87vw;
    font-size: 1.75rem;
    border-radius: 15px;
}
p {
    text-align: center;
    width: 100%;
}
#calculate:hover {
    opacity: 80%;
}
.inc-btns {
    border: none;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 3.25rem;
    background-color: #47474e;
}
.inc-btns:hover {
    opacity: 80%;
}
#male:hover {
    opacity: 80%;
}
#female:hover {
    opacity: 80%;
}
.number {
    font-size: 3.5rem;
    font-weight: 600;
}