* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bmi-container {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 750px;
    max-width: 500px;
    background: #0a0e21;
    margin-top: 5px;
}
#bmi-title {
    color: white;
    text-align: center;
    padding: 15px 0px 0px 0px;
    width: 100%;
}
#male:hover {
    opacity: 80%;
}
#female:hover {
    opacity: 80%;
}
.titles {
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
}
.numbers {
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
#height-block {
    height: 180px;
    width: 87%;
    color: white;
    background-color: #13172b;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}
#height-slider {
}
.small-blocks {
    width: 40%;
    height: 130px;
    background-color: #13172b;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border: none;
}
.inc-btns {
    border: none;
    border-radius: 50%;
    height: 40%;
    width: 25%;
    color: white;
    background-color: #47474e;
}
.inc-btns:hover {
    opacity: 80%;
}
#calculate {
    background-color: #ce3058;
    border: none;
    color: white;
    height: 70px;
    width: 87%;
    font-size: 1.75rem;
    border-radius: 15px;
    margin: 10px 0 10px 0;
}
#calculate:hover {
    opacity: 80%;
}